.reminder-form {
  // border: 10px solid blue;
  input {
    width: 100%;
    font-size: 1.4em;
    padding: .25em;
    outline-width: 0;
    color: #888;
    margin: .25em 0 1em 0;
  }
  .btn {
    background-color: var(--sec-color);
    color: #fff;
    border: 1px solid var(--border-color);
    margin: 1em 0;
    border-radius: .25em;
    font-size: 1.4em;
    text-align: center;
    padding: .4em;
    cursor: pointer;
    // opacity: .4;
    .icon {
      margin-top: -.2em;
      margin-right: .5em;
    }
    &:hover {
      // opacity: 1;
    }
  }
  .btn .disabled {
    opacity: .3;
  }
}
