.repeats {
  list-style: none;
  text-align: center;
  margin: 1em .5em;
  padding: 0;
  li {
    cursor: pointer;
    border-radius: .25em;
    background-color: #eee;
    margin-right: 6px;
    font-size: 14px;
    line-height: 1.25em;
    padding: .5em;
    &:last-child {
      margin-right: none;
    }
  }
  .active {
    background-color: var(--main-color);
    color: #fff;
  }
}
