.dayreminders {
  .current-date {
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: var(--main-color);
    }
  }

  hr {
    margin: 1em 0;
    border: 1px solid var(--border-color);
  }

  .list {
    .msg {
      margin-bottom: 1em;
      b {
        color: var(--sec-color);
      }
    }
  }

  .newreminderbtn {
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid var(--border-color);
    margin-bottom: 1em;
    border-radius: .25em;
    font-size: 1.4em;
    text-align: center;
    padding: .4em;
    cursor: pointer;
    opacity: .4;
    &:hover {
      opacity: 1;
      // background-color: var(--main-color);
      // color: #fff;
    }
  }
}
