.dayreminders {
  flex-grow: 1;
  transition: .5s ease-in;
  display: flex;
  flex-direction: column;
  user-select: none;

  // hr {
  //   margin: .85em 0 1em 0;
  //   border: 1px solid var(--main-color);
  // }

  .list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .header {
      color: #888;
      line-height: 1.8em;
      border-bottom: 1px solid var(--border-color);
      height: 2.2em;
      background-color: transparent;
      .add-alarm {
        margin-right: .35em;
        color: var(--main-color);
        cursor: pointer;
        position: relative;
        display: inline-block;
        opacity: .8;
        &:hover {
          opacity: 1;
          .tooltiptext {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    .msg {
      flex-grow: 0;
      margin-bottom: 1em;
      b {
        color: var(--sec-color);
      }
    }
    .items {
      flex-grow: 1;
      overflow-y: scroll;
      padding-top: 1em;
    }
  }

  .xform {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
  }
}

.loading span {
  margin-right: .25em;
}
