.reminder {
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  margin-bottom: 1em;
  border-radius: .25em;
  height: 4em;
  display: flex;
  flex-direction: row;
  .color {
    height: 4em;
    width: 2em;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    background-color: var(--sec-color);
  }
  .content {
    padding: .5em 0 0 1em ;
    .title {
      display: flex;
      font-weight: bold;
      color: var(--sec-color);
      .icon {
        margin: .25em .25em 0 0;
        height: 1.2em;
      }
      .time {
        padding-top: 0;
      }
    }
    .text {
      // border: 1px solid red;
      // margin: 1em;
    }
  }
}
