.header {
  background-color: var(--main-color);
  color: #fff;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  height: 3em;
  position: relative;

  .icon {
    color: var(--sec-color);
    position: absolute;
    top: .3em;
    left: .5em;
  }
  .hi {
    padding: .85em 1em;
    a {
      color: #fff;
      font-style: italic;
    }
  }
  .logo {
    line-height: 1.7em;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    a {
      text-decoration: none;
      opacity: .9;
      letter-spacing: 3px;
      color: #fff;
      &:hover {
        opacity: .8;
      }
    }
    span {

      padding-left: 1.8em;
    }
  }

  // .btn {
  //   margin: 0;
  //   float: right;
  //   background-color: var(--sec-color);
  //   color: #fff;
  //   padding: .25em 1em;
  //   text-decoration: none;
  //   font-size: 1em;
  //   margin: .5em 1em;
  //   border-radius: .2em;
  // }
}
