.main {
  display: flex;
  background-color: #fff;

  .calendar {
    // min-width: 35em;
    // max-width: 35em;
    flex-grow: 1;
  }

  .reminders {
    flex-grow: 0;
    background-color: #fff;
    border-right: 2px solid var(--border-color);
    padding: 1em 1.5em;
    width: 35em;
    min-width: 35em;
    .header {
      .icon{
        position: absolute;
        right: 0;
        font-size: 2em;
        cursor: pointer;
      }
    }
  }
}
