.reminder {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  height: 4em;
  position: relative;
  box-shadow: 0 10px 6px -6px #777;
  .main {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: .25em;
    .actions {
      position: absolute;
      top: .3em;
      right: .5em;
      a {
        cursor: pointer;
        margin-left: .25em;
        width: 1em;
        height: 2em;
        visibility: hidden;
        &:hover {
          opacity: 1;
        }
      }
    }
    .reminder-content {
      display: flex;
      flex-direction: column;
      padding: .5em 0 0 1em;
      .title {
        display: flex;
        font-weight: bold;
        color: var(--sec-color);
        .icon {
          margin: .25em .25em 0 0;
          height: 1.2em;
        }
        .time {
          padding-top: 0;
        }
      }
      .text {
        display: block;
      }
    }
  }

  .warning {
    color: #fff;
    height: 4em;
    border-radius: .25em;
    padding: 1em;
    line-height: 2em;
    display:flex;
    flex-direction: row;
    position: relative;
    .actions {
      position: absolute;
      right: 1em;
      z-index: 100;
      button {
        width: 5em;
        text-align: center;
        padding: .5em;
        margin-left: 1.5em;
        border: none;
        outline: none;
        border-radius: .5em;
        cursor: pointer;
        &:hover {
          background-color: var(--sec-color);
          color: #fff;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    .main {
      .actions {
        a {
          visibility: visible;
          opacity: .3;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
